{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .container my-4{
        background-color:black;
    }
    .row{
        background-color:grey;
    }
</style>

</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron">

        <div class="row">
            
            <div class="card border-info mx-4 my-4">
                <div class="card-body text-default">
                    <div class="col-lg-6" align="center"><br><br><br><br><br>
                        
                        <form method="post" action="/student/start-exam" name="image_form">  
                            {% csrf_token %}
                        <label>Capture Live Photo</label><br><br>
                        <div id="my_camera" class="pre_capture_frame"></div>
                        <input type="hidden" name="captured_image_data" id="captured_image_data">
                        <br>
                        <input type="button" class="btn btn-info btn-round btn-file" value="Take Snapshot" onclick="take_snapshot()">
        
                    </div>
                    <div class="col-lg-6" align="center"><br><br><br><br><br>
                        <label>Result</label><br><br>
                        <div id="results">
                            <img style="width: 350px;" class="after_capture_frame" src="image_placeholder.jpg"/>
                        </div>
                        <br>
                        <a href="{% url 'student-coding-exam' %}"><button type="button"  class="btn btn-success" onClick="saveSnap()">Save Picture</button></a>

                    </form>
                    </div>
                </div>  
                
            </div>  
        </div>  

    </div>
</div>
<script>
    Webcam.set({
        width:350,
        height:287,
        image_format:'jpeg',
        jpeg_quality:90

    });
    Webcam.attach( '#my_camera');
    function take_snapshot()
    {
        Webcam.snap( function(data_uri){
            document.getElementById('results').innerHTML=
            '<img class="after_capture_frame" src="'+data_uri+'"/>';
            $("#captured_image_data").val(data_uri);
        });
    }
    function saveSnap() {
        var data_uri = document.getElementById("captured_image_data").value;
        var img_name = "image_placeholder.jpg"; // set a name for the image file
        var form_data = new FormData();
        form_data.append("captured_image_data", data_uri);
        form_data.append("img_name", img_name);
        $.ajax({
          url: "{% url 'save-image' %}",
          type: "POST",
          data: form_data,
          processData: false,
          contentType: false,
          success: function(response) {
            alert("Image saved successfully!");
          },
          
        });
      }
      
</script>
<br><br><br><br><br><br>
{% endblock content %}